package templates

templ HelloForm() {
	@MainContent(){
		@Form()
		<div id="hello-container"></div>
	}
}

templ HelloPost(name string) {
	<div>Hello, { name }</div>
}

templ MainContent() {
	@Menu()
	<main>
		{children...}
	</main>
}

templ Menu(){
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</nav>
}
