package templates

templ Error(err error) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>Go Blueprint Hello</title>
		</head>
		<body>
			<main>
				<p>
                    {err.Error()}
                </p>
			</main>
		</body>
	</html>
}
